input {
	display: block;
}

.div_question {
	background: grey;
	margin: 5px;
	width: 80%;
}
.div_reponse input {
	background-color: blue;
	display: inline;
}

#page {
	background : white;
}

.question input {
	display: inline;
}

#banniere_haut
{
	width: 100%;
	height: 40px;
	background-color: rgb(53,142,185);
	padding-top: 8px;
	position: fixed;
	z-index: 1;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	border-top: none;
	border-left: none;
	border-right: none;
	margin: 0px;
}

#logo 
{
	display: inline-block;
	text-align: left;
	float:left;
	margin-bottom: 12px;
	margin-left : 10px;
}

#mon_logo
{
	height: 35px;
	width: 35px;
}

#div_lien
{
	float : right;
	text-align: right;
	margin-top: 5px; 
	margin-right: 40px;
	margin-bottom: 12px;
}

#page
{
	width: 90%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 60px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: white;
	position: absolute;
	box-shadow: 0px 5px 12px black;
	padding: 15px;
}

.lien_connexion
{
	font-family: trebuchet;
	text-decoration: underline;
	font-size: 16px;
}

.lien_connexion:link, .lien_connexion:visited
{
	color: white;
}

.lien_connexion:hover
{
	color: rgb(220,220,220);
}

.lien_connexion:active
{
	color: black;
}

.espacement
{
	margin-right: 30px;
	font-family: trebuchet;
	color: #FFFFFF;
}

/*
#menu
{
	border: solid 2px blue;
	background-color: #FFFFFF;
	width: 100%;
	margin: auto;
	position: relative;
	top: 38px;
	border-right: none;
	border-left: none;
}
*/
body
{
	margin: 0;
	background-color: rgb(220,220,220);
}

h1
{
	text-align: center;
	font-size: 32px;
	font-family: arial, georgia;
	font-weight: bold;
	color: rgb(53,142,185);
	text-decoration: underline;
}

p
{
	text-align: center;
}

div
{
	margin: auto;
}

#erreur {
	margin: 15px;
	color: red;
	text-align: center;
	font-size: 15pt;
	font-weight: bold;
}


nav
{  
	border: solid 2px blue;
	background-color: #FFFFFF;
	width: 100%;
	margin: auto;
	position: relative;
	top: 38px;
	border-right: none;
	border-left: none;
    display: inline-block;
    text-align: left;
}

nav ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li
{
    display: inline;
    margin-right: 400px;
    margin-left: 20px;
    margin-bottom: none;
}
/*
nav a
{
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    padding-bottom: 0px;
    text-decoration: none;
}
*/